extends layout

block content
  #header.container-fluid
    .toolbar Postcred 
    include partials/tabs
  include partials/moviegrid
                    
  script.
    const movies = !{JSON.stringify(movies)}
    $("img.lazy").lazyload()
