@import "bootstrap/bootstrap"
@import "materialize/materialize"
@import "movie-grid"

@import url('https://fonts.googleapis.com/css?family=Montserrat:700')


body
    background-color: #263238

.header
    background: #1DA1F2
    color: #fff
    height: 50px
    text-align: center



    a
        height: 100%
        width: 100%

        display: flex
        flex-direction: column
        justify-content: center

#banner
    padding: 64px 16px
    background: #EF5350
    color: #FFFFFF

    h1
        // font-family: 'Montserrat', sans-serif
        font-weight: 600

    p
        color: #FFEBEE
